header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid red;
    width: 8vw;
    p{
        font-size: 1rem;
    }

main{
    display: flex;
    flex-direction: column;
}

.ContainerCards{
    border: solid blue;
    display: flex;
    justify-content: space-between;
    width: 65%;

article{
    width: 20vw;
    height: ;


}

}
}
